body {
	margin: 0 auto;
	width: 80%;
}

header {
	margin-bottom: 40px;
	width: 100%;
}

header img {
	width: 100%;
}

.col-xs-6 {
	border: 5px solid black;
}

.content {
	margin: 0 auto;
	width: 80%;
}

p {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

.clearfix:after {
	clear: both;
	content:"";
	display: table;
}

.professor {
	display: block;
	margin: 0 auto;
}