body {
	background: url('../images/landscape.jpg') skyblue;
	background-size: cover;
	margin: 0 auto;
	width: 80%;
	font-family: 'Comfortaa', Helvetica, 'Helvetica Neue', Arial;
}

header, .col-xs-12 {
	height: 380px;
	margin-bottom: 30px;
	width: 100%;
}

header img {
	margin-top: 10px;
	width: 60%;
}

.col-md-12 {
	min-height: 200px;
	padding: 20px;
}

.col-xs-2, .col-xs-8 {
	height: 100%;
	padding: 3px 5px;
}

.btn {
	border-radius: 10px;
}

.content {
	background: white;
	border: 5px double black;
	border-radius: 15px;
	margin: 0 auto;
	max-width: 80%;
}

p {
	font-size: 24px;
	text-align: center;
}

.clearfix:after {
	clear: both;
	content:"";
	display: table;
}

.blank-p {
	letter-spacing: 6px;
}

.segment {
	margin: 2% auto;
}

img {
	display: block;
	margin: 0 auto;
}

.sprite {
	margin: 4px;
	max-height: 100px;
}

.icon {
	display: inline-block;
	margin: 0;
	max-height: 32px;
	max-width: 32px;
	padding-bottom: 4px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.collection {
	display: inline-flex;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 100%;
	min-height: 110px;
}

.top {
	bottom: 120px;
	height: auto;
	left: 120px;
	position: relative;
	width: 40%;
	z-index: 1;
}

.bottom {
	z-index: 0;
}