/*General classes*/
body {
	background: url('../images/landscape2.jpg') #7fac71;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Comfortaa', Helvetica, 'Helvetica Neue', Arial;
	min-width: 100%;
	padding: 1%;
}

p {
	font-size: 24px;
	text-align: center;
}

/*Header*/
header img {
	width: 40%;
}

/*Content*/
.content {
	background-color: white;
	background-color: rgba(255, 255, 255, .4);
	border: 5px double;
	border-color: white;
	border-radius: 15px;
	max-width: 90%;
	min-height: 140px;
	padding: 5px;
}


/*Top box*/
.p-button:hover {
	font-weight: 700;
}

.blank-p {
	letter-spacing: 6px;
}

.icon {
	height: 32px;
}


/*Bottom box*/
.bottom {
	min-height: 235px;
}

.p-single {
	height: 32px;
}

.p-double {
	height: 58px;
}


.collection {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	min-height: 96px;
	width: 100%;
}

.collection:after {
	content: "";
	flex: auto;
}